<!-- Page Wrapper -->
<div id="wrapper">

   <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid" style="width: 80%;margin:auto;padding:2em">
        <!-- Page Heading -->
        {{!-- <h1 class="h3 mb-4 text-gray-800">Resources</h1> --}}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Succesfully recorded data...
            </h5>
          </div>
          <div class="card-body">
            <h3>Thanks for your input.</h3>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    {{>"footer"}}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->