<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  {{>"sidebar"}}
  <!-- End of Sidebar -->


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      {{>"topbar"}}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        {{!-- <h1 class="h3 mb-4 text-gray-800">Resources</h1> --}}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">New Resource
              <a href="/dashboard/resource/list" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"><i
                  class="fas fa-arrow-left fa-sm text-white"></i> Back </a>
            </h5>
          </div>
          <div class="card-body">
            <form id="res-create-form">
              <div class="form-group row">
                <label class="col-sm-1" for="resName">Name</label>
                <input type="text" class="form-control col-sm-8" id="resName"
                  placeholder="Name of the resouce you want to create">
              </div>
              <div class="form-group row">
                <label class="col-sm-1">Fields</label>
                <div class="row col-sm-10" id="field-list">

                  <div class="row col-sm-12 form-group ">
                    <button onclick="addFields();" class="float-right btn btn-sm btn-success col-sm-10" type="button"><i
                        class="fa fa-plus"></i> Add Fields</button>
                  </div>

                </div>

              </div>
              <div class="form-group">
                <button class="float-right btn btn-sm btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    {{>"footer"}}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{{#section 'script'}}
<script>
  "use strict";
  var fieldNo = 1;
  function addFields() {

    fieldNo++;
    var objTo = document.getElementById('field-list')
    var divtest = document.createElement("div");
    divtest.setAttribute("class", "row col-sm-11 form-group removeclass" + fieldNo);
    var rdiv = 'removeclass' + fieldNo;
    divtest.innerHTML = '<div class="row col-sm-6"><input type="text" class="form-control form-control-sm" name="' + fieldNo + '" placeholder="Field Name"></div><div class="col-sm-5"><select class="form-control form-control-sm" name="' + fieldNo + '" aria-label="Select field type"><option selected>Choose Type...</option><option value="string">String</option><option value="number">Number</option><option value="boolean">Boolean</option></select></div><div class="row col-sm-1"><button id="add-res-field" onclick="remove_fields(' + fieldNo + ');" class="float-right btn btn-sm btn-danger" type="button"><i class="fa fa-minus"></i></button></div>';
    objTo.appendChild(divtest)
  }
  function remove_fields(rid) {
    $('.removeclass' + rid).remove();
  }
  function normalizeFields() {
    let items = $("form#res-create-form").serializeArray();
    let obj = {}
    for (let i = 0; i < items.length; i++) {
      if (items[i + 1] && items[i].name == items[i + 1].name && items[i].value) {
        obj[items[i].value] = {
          "type": items[i + 1].value
        }
      }
    }
    return obj;
  }
  document.getElementById("res-create-form").onsubmit = (async (ev) => {
    ev.preventDefault()
    let name = document.getElementById('resName').value;
    let properties = normalizeFields();
    if(!Object.keys(properties).length){
    $.alert({
        title: 'OOps!',
        content: 'Please add some fields to the resource. Like name,status etc...',
    });
    return;
    }
    let res = await fetch("/resource", {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      redirect: "follow",
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + localStorage.getItem("HIT_HTTP_access_token")
      },
      body: JSON.stringify({ name, properties }) // body data type must match "Content-Type" header
    }).then(async response => {
      if (!response.ok) {
        console.log(response)
        $.alert({
          title: 'OOps!',
          content: response.message|"Failed to create resource",
        });
        return;
      }
      // HTTP 301 response
      // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
      if (response.redirected) {
        window.location.replace(response.url);
      }
    })
      .catch(function (err) {
        console.info(err);
      });
  })
</script>
{{/section}}
