<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&copy; Hit-HTTP {{date "Y-m-d"}}. All Rights Reserved. Made with <span
                    class="fa fa-heart text-danger"></span> by <a href="https://github.com/hithttp">Team Hit-HTTP</a></span>
        </div>
    </div>
</footer>