<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <span class="logo-small">#_#</span>
    </div>
    <div class="sidebar-brand-text mx-3">Hit-HTTP</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="/resource/list">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Resources</span></a>
  </li>
  {{!-- <li class="nav-item">
    <a class="nav-link" href="/apis">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>APIs</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/access-logs">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Access Logs</span></a>
  </li> --}}


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>